@import "src/styles/toolkit";

.onboarding {
    background-color: $lightText;
    & > div {
        @include container;
        padding-bottom: 5.75rem;
        padding-top: 5.6rem;
    }
    h2 {
        @include h2;
        color: $darkText;
        text-align: start;
        position: relative;
        span {
            position: relative;
            z-index: 1;
        }
        & > svg {
            width: 2.125rem;
            height: 2.125rem;
            position: absolute;
            left: -1rem;
            top: -0.7rem;
            z-index: 0;
            margin-bottom: 2rem;
        }
    }
    p {
        @include body;
        color: $darkText;
        margin-top: 1.5rem;
        width: 50vw;
        margin-bottom: 2rem;
        display: block;
        max-width: 45vw;
    }
}
.images {
    margin-top: 5rem;
    display: flex;
    gap: 1.25rem;
    img {
        object-fit: contain;
        height: fit-content;
    }
}
.image {
    width: 70%;
    &:hover {
        ~ .image2 {
            svg {
                transform: translateX(-385px);
            }
        }
    }
    &2 {
        width: 35%;
        position: relative;
        svg {
            width: 1.125rem;
            height: 1.125rem;
            position: absolute;
            right: -0.56rem;
            top: 30%;
            transition: 0.3s ease-in-out transform;
        }
    }
}
