@import "src/styles/toolkit.scss";
.presentation {
    @include container;
    margin-top: 5rem;
    h2 {
        @include h2;
        margin-bottom: 1.9rem;
        text-align: start;
    }
    p {
        max-width: 42rem;
        @include body;
        color: $darkText;
    }
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.25rem;
    grid-template-areas:
        "grid-1 grid-1 grid-1 grid-1 grid-3 grid-3 grid-3"
        "grid-2 grid-2 grid-2 grid-2 grid-2 grid-2 grid-2";
    div {
        position: relative;
        border-radius: 0.25rem;
    }
    img {
        position: relative !important;
        transition: 0.3s ease-in-out box-shadow;
        border-radius: 0.25rem;

        &:hover {
            box-shadow: 0px 4px 20px 0px rgba(14, 38, 76, 0.36);
        }
    }
}
.gridImage {
    grid-area: grid-1;
}
.gridSpace {
    grid-area: grid-3;
    background-color: $lightText;
}
.gridBottom {
    grid-area: grid-2;
}
